= partial "/includes/animations/autodevops-illustration.svg"

%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}
%script{src: "/javascripts/libs/morphsvgplugin.min.js", type: "text/javascript"}
%script{src: "/javascripts/autodevops-animation.js", type: "text/javascript"}
