%div{ class: "content-container #{defined?(background) ? background : 'gray'}-bg padding-vertical0" }
  .container
    .column.carousel.padding-vertical60.padding-left20.padding-right40
      .title
        = title
      .subtitle
        = subtitle
      .arrow-left.round-centered
        = image_tag "/images/devops-tools/arrow-left.svg"
      .arrow-right.round-centered
        = image_tag "/images/devops-tools/arrow-right.svg"
      .row.carousel-items
        - items.each do |item|
          .column.carousel-item.unselected{:class => item.type}
            .image-container
              = link_to item.link, target: item.type == "new_tab" ? "_blank" : "" do
                = image_tag item.image, class: "thumbnail"
                .round-centered.play-button
                  = image_tag "/images/devops-tools/play-icon.svg"
            .title
              = item.title
